<div class="container profile-container">
    <div class="intro">
        <div class="avatar">
            <a href="<%- url_for(theme.nav.Posts) %>"><img id='avatar_img'src="<%- url_for(theme.avatar) %>"></a>
        </div>
        <div class="nickname"><%- theme.nickname %></div>
        <div class="description"><%- markdown(theme.description) %></div>
        <div class="links">
            <% if (theme.links !== undefined) { %>
                <% for (var key in theme.links){ %>
                    <a class="link-item" title="<%- key %>" href="<%= theme.links[key] %>">
                        <% if(theme.links_text_enable) { %>
                            <%= key %>
                        <%}%>
                        <%if(theme.links_icon_enable){ %>
                            <i class="iconfont icon-<%- key.toLowerCase() %>"></i>
                        <%}%>
                    </a>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<script>
    // this function is used to check current theme before page loaded.
    (() => {
        const currentTheme = window.localStorage && window.localStorage.getItem('theme') || '';
        const isDark = currentTheme === 'dark';
        const pagebody = document.getElementsByTagName('body')[0]
        if (isDark) {
            document.querySelector('#avatar_img').setAttribute('src', '/image/zzz_night.jpg')
        } else {
            document.querySelector('#avatar_img').setAttribute('src', '/image/zzz_day.jpg')
        }
    })();
</script>
